svg-inkscape
Presentacion.aux
Presentacion.bbl
Presentacion.blg
Presentacion.fdb_latexmk
Presentacion.fls
Presentacion.listing
Presentacion.log
Presentacion.out
Presentacion.synctex.gz
Presentacion.toc
Presentacion.tdo
Presentacion.pdf
Presentacion.nav
Presentacion.snm